footer {
    text-align: center;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.doce {
    text-align: center;
    padding: 41px;
    background-color: #0074D9;
}

.capitao-card {
    background: linear-gradient(to bottom, #234e82, #0a2341); /* Cores da Marinha */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    margin: 0 auto;
    max-width: 400px; /* Defina a largura máxima */
}

.capitao, .comandante, .divisoes-1 {
    background: #234e82; /* Cor principal da Marinha */
    padding: 50px 0;
    text-align: center;
}

.capitao-text h2 {
    font-size: 28px;
    color: #fff; /* Texto branco */
}

.capitao-text p {
    color: #fff; /* Texto branco */
}

.titulo-c {
    font-family: 'Poppins', sans-serif;
    font-size: 30px; /* Tamanho do título */
    font-weight: bold;
    color: #fff; /* Texto branco */
}


img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px; /* Espaço entre a imagem e o texto */
}

.intro {
    text-align: center;
    color: #6A0DAD;
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

.intro-2 {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: small;
}

.intro3 {
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-weight: normal;
    color: #6A0DAD;
}

.capitao-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .capitao-image img {
        width: 80%; /* Aumentando o tamanho da imagem para telas maiores */
        margin: 0 auto; /* Centralizando a imagem horizontalmente */
    }
}

.titulo-c {
    font-family: 'Poppins', sans-serif;
    font-size: 30PX;
    font-weight: bold;
}

